/* Hide next and previous arrows */
.carousel-container .slick-prev,
.carousel-container .slick-next {
  display: none !important; /* This hides the arrows */
}

/* Adjust dot styles */
.carousel-container .slick-dots li button:before {
  color: white;
}

.carousel-container .slick-dots li.slick-active button:before {
  color: #b61111;
}

/* Image styling */
.carousel-image {
  width: 98%;
  height: auto;
  border-radius: 12px;
  object-fit: cover;
}
