/* Navbar styles */
.navbar {
  background-color: rgba(0, 0, 0, 0.6); /* Semi-transparent background */
  padding: 10px 0;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  width: 100%; /* Make navbar full width */
  backdrop-filter: blur(8px);
  border: 1px solid rgba(255, 255, 255, 0.1);
  transition: all 0.3s ease-in-out;
}

/* Navbar container */
.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  width: 100%;
  margin-left: 20px; /* Added to shift the menu to the right */
}

/* Logo container */
.logo-container {
  display: flex;
  align-items: center;
  justify-content: flex-start; /* Align logo to the left */
  flex: 0 1 auto; /* Allow logo to shrink, but not grow */
  /* Space between logo and nav links */
}

.logo {
  width: 100px; /* Increase logo size */
  height: auto;
  background-color: transparent;
}

/* Navigation links */
.nav-links {
  display: flex;
  list-style-type: none;
  justify-content: center;
  /* align-items: center; */
  gap: 20px;
  flex-grow: 1; /* Allow nav links to take available space */
  justify-content: flex-start;
}

.nav-links li {
  margin: 0 10px;
}

.nav-links a {
  color: white;
  text-decoration: none;
  font-size: 16px;
  transition: color 0.3s ease;
}

.nav-links a:hover {
  color: #FCCD2D;
}

/* Dropdown styles */
.nav-links .dropdown {
  position: relative;
}

.nav-links .dropbtn {
  background-color: transparent;
  border: none;
  color: white;
  font-size: 16px;
  cursor: pointer;
}

.nav-links .dropdown-content {
  display: none;
  position: absolute;
  background-color: rgba(51, 51, 51, 0.9);
  min-width: 160px;
  z-index: 1;
  backdrop-filter: blur(8px);
  border-radius: 8px;
}

.nav-links .dropdown:hover .dropdown-content {
  display: block;
}

.nav-links .dropdown-content a {
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.nav-links .dropdown-content a:hover {
  background-color: rgba(221, 221, 221, 0.1);
  color: #FCCD2D;
}

/* Mobile menu icon */
.menu-icon {
  display: none;
  cursor: pointer;
}

.menu-icon i {
  font-size: 24px;
  color: white;
}

/* Responsive Design */
@media screen and (max-width: 768px) {
  .nav-links {
    position: absolute;
    top: 60px;
    left: 0;
    right: 0;
    flex-direction: column;
    background-color: rgba(51, 51, 51, 0.9);
    backdrop-filter: blur(8px);
    display: none;
    text-align: center;
    border-radius: 15px;
    padding: 10px 0;
    z-index: 999;
  }

  .nav-links.active {
    display: flex;
  }

  .nav-links li {
    margin: 10px 0;
  }

  .menu-icon {
    display: block;
  }
}
